
<div class="row justify-content-center mt-3">
  <% @cocktails.each do |cocktail| %>
    <div class="card m-2" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail)  %></h5>
      </div>
    </div>
  <% end %>
</div>
<p>    </p>
<div class="ml-3 row justify-content-center">
  <%= link_to 'Make a new cocktail', new_cocktail_path, class: "btn btn-primary"  %>
</div>
